@charset "UTF-8";
body {
	    background-image: url('/jhandai_padheko/resources/images/system/background.png');
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-attachment: fixed;
	    background-position: center;
	    width: 100%;
        overflow-x: hidden;
        font-family: Helvetica;
 }

.profile-banner {
    background-size: cover;
    padding: 100px 60px 0px;
    color: #000000;
    text-align: left;
    min-height: 200px; 
    position: relative; 
}

.profile-banner h1 {
    font-size: 36px;
    margin: 0;
}

.profile-banner p {
    font-size: 16px;
    margin: 10px 0 20px;
    line-height: 1.5;
}

 .edit-btn {
    background-color: #00c6ff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 520px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
}

.profile-card {
    flex: 0;
    background-color: white;
    border-radius: 12px;
    padding-top: 25px;
    margin: 25px auto; 
    width: 700px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    box-sizing: border-box;
}


.profile-pic-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.profile-picture {
    height: 80px; 
    width: 80px; 
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}





.profile-actions {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.action-btn {
    background-color: #00c6ff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    width: 100px;
}

.card-stats {
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
    padding: 15px 0;
    border-top: 1px solid #f1f3f5;
    border-bottom: 1px solid #f1f3f5;
}

.stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat-number {
    font-weight: bold;
    font-size: 18px;
    color: #2d3748;
}

.stat-label {
    font-size: 13px;
    color: #718096;
    margin-top: 5px;
}

.card-info {
    margin: 25px;
}

.card-info h3 {
    margin: 10px 0 5px;
    font-size: 20px;
    color: #2d3748;
}

.card-info p {
    margin: 6px 0;
    font-size: 14px;
    color: #4a5568;
    line-height: 1.5;
}

.card-info strong {
    display: block;
    margin: 10px 0 6px;
    font-size: 15px;
    color: #2d3748;
}

.card-info .bio {
    margin: 15px 0;
    color: #718096;
    line-height: 1.5;
    font-size: 14px;
}

.card-info a {
    color: #00c6ff;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    display: inline-block;
    margin-top: 10px;
}